/* src/styles/Search.module.css */
.navbar {
    display: flex;
    justify-content: space-around;
    /* This will space out your nav items evenly */
    background-color: #FFE70D;
    /* Change the color to suit your design */
    color: #f7f7f7;
    padding: 1rem 0;
    width: 100%;
}

.navItem {
    cursor: pointer;
    /* Makes it clear the items are clickable */
    padding: 0 2rem;
    /* Gives some horizontal spacing */
}

/* ... other styles for the page ... */


.container {
    padding: 2rem;
    background: #f7f7f7;
}

.main {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchBar {
    display: flex;
    margin-bottom: 1rem;
}

.searchBar input {
    flex: 1;
    padding: 0.5rem;
}

.searchBar button {
    padding: 0.5rem;
}

.accordion {
    /* Additional styles for accordion */
}

.accordionItem {
    /* Styles for each accordion item */
    margin-bottom: 1rem;
}

.accordionTitle {
    /* Styles for the accordion title */
    font-weight: bold;
}

.textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    /* Add any other styles for textarea */
}